html, body {
    height: 100%;
}

body {
    background-color: #11dada;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: serif;
    font-size: 30px;
}

section {
    margin: 10 auto;
}