html, body {
    height: 100%;
}

body {
    background-color: #0298987b;
    color: #00000096;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: serif;
    font-size: 45px;
}

section {
    margin: 10 auto;
}